#wrapper {
    display: grid;
    grid-template-columns: repeat(2, 120px) 500px 460px 500px repeat(2, 120px);
    grid-template-rows: 120px 360px 180px 340px 70px 390px 40px 100px;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
body {
    background-color: rosybrown;
    grid-column: 2 / -2;
}
nav { 
    background-color: blue;
    grid-column: 2 / 3;
    grid-row: 2 / 7;
} 
.test {
    background-color: blue;
    grid-column: 6 / 7;
    grid-row: 1 / -2;
}
header {
    background-color: pink;
    grid-column: 3 / 6;
    grid-row: 1 / 2;
}
.logo {
    background-color: yellowgreen;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}
.banner {
    background-color: lightblue;
    grid-column: 3 / 6;
    grid-row: 2 / 3;
}
.description {
    background-color: royalblue;
    grid-column: 3 / 4;
    grid-row: 4 / 5;
    border-left: 50px solid rosybrown;
}
.motto {
    background-color: royalblue;
    grid-column: 5 / 6;
    grid-row: 4 / 5;
    border-right: 50px solid rosybrown;
}
.project1 {
    background-color: royalblue;
    grid-column: 3 / 4;
    grid-row: 6 / 7;
    border-left: 50px solid rosybrown;
    border-bottom: 50px solid rosybrown;
}
.project2 {
    background-color: royalblue;
    grid-column: 5 / 6;
    grid-row: 6 / 7;
    border-right: 50px solid rosybrown;
    border-bottom: 50px solid rosybrown;
}
footer {
    background-color: orange;
    grid-column: 2 / 7;
    grid-row: 7 / 9;
}