* {
    color: azure;
}
#wrapper {
    display: grid;
    grid-template-columns: repeat(2, 120px) 500px 460px 500px repeat(2, 120px);
    grid-template-rows: 120px 360px 180px 340px 70px 390px 40px 100px;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
body {
    background-color: #0B0C10;
    grid-column: 2 / -2;
}
nav {
    background-color: #FF7043;
    grid-column: 2 / 3;
    grid-row: 2 / 7;
} 
.left-nav {
    grid-column: 2 / 3;
    grid-row: 2 / 7;
    background-color: #1F2833;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}
.right-nav {
    grid-column: 6 / 7;
    grid-row: 2 / 7;
    background-color: #1F2833;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

p {
    text-align: center;
}
h1 {
    color: black;
    font-family: georgia;
    font-size: 50px;
    text-align: center;
}
a:link {
    color : #8B0000;
    text-decoration: none;

}
header {
    background-color: #F44336;
    text-align: center;
    font-family: georgia;
    font-size: 30px;
    grid-column: 3 / 6;
    grid-row: 1 / 2;
}
.logo {
    background-color: yellowgreen;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}
.reverselogo {
    background-color: yellowgreen;
    grid-column: 6 / 7;
    grid-row: 1 / 2;
}
.banner {
    background-color: #C62A2A;
    grid-column: 3 / 6;
    grid-row: 2 / 3;
}
.description {
    background-color: #0A0A0A;
    
    grid-column: 3 / 4;
    grid-row: 4 / 5;
    border-left: 50px solid rgb(15, 48, 75);
}
.motto {
    background-color: royalblue;
    grid-column: 5 / 6;
    grid-row: 4 / 5;
    border-right: 50px solid rgb(15, 48, 75);
}
.project1 {
    background-color: royalblue;
    grid-column: 3 / 4;
    grid-row: 6 / 7;
    border-left: 50px solid rgb(15, 48, 75);
    border-bottom: 50px solid rgb(15, 48, 75);
}
.project2 {
    background-color: royalblue;
    grid-column: 5 / 6;
    grid-row: 6 / 7;
    border-right: 50px solid rgb(15, 48, 75);
    border-bottom: 50px solid rgb(15, 48, 75);
}
footer {
    background-color: rgb(104, 8, 5);
    grid-column: 2 / 7;
    grid-row: 7 / 9;
}