#wrapper {
    background-color: rosybrown;
    grid-column: 2 / -2;
    display: grid;
    grid-template-columns: repeat(2, 120px) 220px 560px 220px repeat(2, 120px);
    grid-template-rows: 120px 360px 180px 340px 120px 340px 40px 100px;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
nav { 
    background-color: blue;
    grid-column: 2 / 3;
    grid-row: 2 / 7;
} 
header {
    background-color: pink;
    grid-column: 3 / 6;
    grid-row: 1 / 2;
}
.logo {
    background-color: yellowgreen;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}
.banner {
    background-color: lightblue;
    grid-column: 3 / 6;
    grid-row: 2 / 3;
}
.description {
    background-color: blueviolet;
    grid-column: 3 / 4;
    grid-row: 4 / 5;
}
.motto {
    background-color: red;
    grid-column: 5 / 6;
    grid-row: 4 / 5;
}
.project1 {
    background-color: yellow;
    grid-column: 3 / 4;
    grid-row: 6 / 7;
}
.project2 {
    background-color: green;
    grid-column: 5 / 6;
    grid-row: 6 / 7;
}
footer {
    background-color: orange;
    grid-column: 2 / 7;
    grid-row: 7 / 9;
}